
body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #003366;
  width: 100%;
  align-items: center;
    /* padding: 45px 0px; */
}

.navbar a {
  color:#f6851f;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 30px;
  font-family: "knewave";
}


.navbar a:hover {
  background-color: #001F3D;
}



a {
    font-size: 18px;
    font-weight: bold;
}



#logo {
    width: 130px;
}

@font-face {
  font-family: "knewave";
  src: url("../font/Knewave-Regular.ttf");
}


.footer {
 display: flex;
  justify-content: space-evenly;
  background-color: #bdbdbd;
  width: 100%;
  align-items: center;
}

.footer a {
 color:#000000;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 30px;
  font-family: "knewave";
}

.footer a:hover {
  background-color: #808080;
}


.hero {
background-color: #d9d9d9;
text-align: center;
padding: 25px 20px;
}


.hero h1 {
font-size: 40px;
margin-bottom: 25px;
}

.hero p {
max-width: 500px;
margin: 0 auto 20px;
}

.hero-buttons a {
background-color: #f6851f;
color: #ffffff;
padding: 10px 20px;
margin: 5px;
text-decoration: none;
border-radius: 15px;
}

.hero-buttons a:hover {
background-color: #F8A253;
}

.content {
background-color: #d9d9d9;



}






