
body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #003366;
  width: 100%;
  align-items: center;
    /* padding: 45px 0px; */
}

.navbar a {
  color:#f6851f;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 30px;
  font-family: "knewave";
}


.navbar a:hover {
  background-color: #001F3D;
}



a {
    font-size: 18px;
    font-weight: bold;
}



#logo {
    width: 130px;
}

@font-face {
  font-family: "knewave";
  src: url("../font/Knewave-Regular.ttf");
}


.footer {
 display: flex;
  justify-content: space-evenly;
  background-color: #bdbdbd;
  width: 100%;
  align-items: center;
}

.footer a {
 color:#000000;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 30px;
  font-family: "knewave";
}

.footer a:hover {
  background-color: #808080;
}










